{{#isLoggedIn}}
    {{> header}}
    <p>sesión iniciada.</p>
{{/isLoggedIn}}
{{^isLoggedIn}}
    {{> header}}
    <p>Por favor, inicie sesión.</p>
{{/isLoggedIn}}
<!-- The Band Section -->
<p>crear usuario</p>


<!-- End Page Content -->
</div>
{{> footer}}