{{#isEditor}}
    {{> header_editor}}
{{/isEditor}}

{{#isAdmin}}
    {{> header_admin}}
{{/isAdmin}}

<div class="container">
    <h1>Editar Pregunta</h1>
    <a href="/question/list" class="btn btn-primary">Volver</a>
    {{^success}}
    <form method="POST" action="/question/update">
        {{#question}}
            <input type="hidden" name="questionID" value="{{QuestionID}}">
            
            <div class="form-group">
                <label for="questionText">Texto de la Pregunta:</label>
                <input type="text" class="form-control" id="questionText" name="questionText" value="{{QuestionText}}" required>
            </div>
            
            <div class="form-group">
                <label for="correctAnswer">Respuesta Correcta:</label>
                <input type="text" class="form-control" id="correctAnswer" name="correctAnswer" value="{{CorrectAnswer}}" required>
            </div>
            
            <div class="form-group">
                <label for="answer1">Respuesta 1:</label>
                <input type="text" class="form-control" id="answer1" name="answer1" value="{{Answer1}}" required>
            </div>
            
            <div class="form-group">
                <label for="answer2">Respuesta 2:</label>
                <input type="text" class="form-control" id="answer2" name="answer2" value="{{Answer2}}" required>
            </div>
            
            <div class="form-group">
                <label for="answer3">Respuesta 3:</label>
                <input type="text" class="form-control" id="answer3" name="answer3" value="{{Answer3}}" required>
            </div>
            
            <div class="form-group">
                <label for="categoryID">Categoría:</label>
                <select class="form-control" id="categoryID" name="categoryID" required>
                    {{#categories}}
                    <option value="{{CategoryID}}" {{#habilitado}}selected{{/habilitado}}>{{CategoryName}}</option>
                    {{/categories}}
                </select>
            </div>
            
            <div class="form-group">
                <label for="stateID">Estado:</label>
                <select class="form-control" id="stateID" name="stateID" required>
                    {{#states}}
                    <option value="{{StateID}}" {{#habilitado}}selected{{/habilitado}}>{{StateName}}</option>
                    {{/states}}
                </select>
            </div>
        {{/question}}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
    {{/success}}
    
    {{#success}}
    <div class="alert alert-success" role="alert">
        Carga realizada correctamente
        <br>
        <a href="/question/list" class="btn btn-primary">Volver</a>
    </div>
    {{/success}}
    
    {{#errors}}
    <div class="alert alert-danger" role="alert">
        {{errors}}
    </div>
    {{/errors}}
</div>

{{> footer}}