{{#isEditor}}
    {{> header_editor}}
{{/isEditor}}

{{#isAdmin}}
    {{> header_admin}}
{{/isAdmin}}
{{#isUser}}
    {{> header_loged}}
{{/isUser}}

{{isLoggedIn}}
<!-- The Band Section -->
<p>inicio</p>

<!-- End Page Content -->
</div>
{{> footer}}