

{{#isEditor}}
    <!-- Contenido específico para el rol de Editor -->
    {{> header_editor}}

    <div class="container">
        <h1>Lista de Categorias</h1>
            <table class="table table-striped">
            <thead>
                <tr>
                <th>Categoría</th>
                <th>Color</th>
                <th>Propiedad</th>
                </tr>
            </thead>
            <tbody>
                {{#categories}}
                <tr>
                <td>{{CategoryName}}</td>
                <td style="background-color: {{CategoryColor}};">
                    
                </td>
                <td>
                    <a href="#" onclick="alert('no se puede eliminar papu, es pegriloso')" class="btn btn-primary" > Eliminar </a>
                </td>
                </tr>
                {{/categories}}
            </tbody>
            </table>
    </div>
    <!-- contenido -->
{{/isEditor}}

{{#isAdmin}}
    <!-- Contenido específico para el rol de Admin -->
    {{> header_admin}}
    <div class="container">
        <h1>Lista de Preguntas</h1>
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Categoría</th>
            <th>Color</th>
            <th>Propiedad</th>
            </tr>
        </thead>
        <tbody>
            {{#categories}}
            <tr>
            <td>{{CategoryName}}</td>
            <td style="background-color: {{CategoryColor}};">
                
            </td>
            <td>
                <a href="#" onclick="alert('no se puede eliminar papu, es pegriloso')" class="btn btn-primary" > Eliminar </a>
            </td>
            </tr>
            {{/categories}}
        </tbody>
        </table>
    </div>
    <!-- contenido -->
{{/isAdmin}}

{{> footer}}
