{{#isEditor}}
    <!-- Contenido específico para el rol de Editor -->
    {{> header_editor}}

    <div class="container">
        <h1>Lista de Preguntas</h1>
        <div class="row">
            <a class="btn btn-primary col-3" href="/question/list_categories">Categorias</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID Reporte</th>
                <th>Pregunta</th>
                <th>Razon</th>
                <th>Respuesta Correcta</th>
                <th>Estado del reclamo</th>
                <th>Estado de la pregunta</th>
                <th>Categoria</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {{#reportedQuestionsData}}
            <tr>
                <td>{{ReportID}}</td>
                <td>{{QuestionText}}</td>
                <th>{{ReportReason}}</td>
                <td>{{CorrectAnswer}}</td>
                <td>{{Status}}</td>
                <td>{{StateName}}</td>
                <td>{{CategoryName}}</td>
                <td>
                    <a href="/question/edit?id={{QuestionID}}" class="btn btn-primary">edit</a>
                    <a href="/question/fix_reported?id={{ReportID}}" class="btn btn-primary">fixed</a>
                </td>
            </tr>
            {{/reportedQuestionsData}}
            </tbody>
        </table>

    </div>
    <!-- contenido -->
{{/isEditor}}

{{#isAdmin}}
    <!-- Contenido específico para el rol de Admin -->
    {{> header_admin}}
    <div class="container">
        <h1>Lista de Preguntas</h1>
        <div class="row">
            <a class="btn btn-primary col-3" href="/question/list_categories">Categorias</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID Reporte</th>
                <th>Pregunta</th>
                <th>Razon</th>
                <th>Respuesta Correcta</th>
                <th>Estado del reclamo</th>
                <th>Estado de la pregunta</th>
                <th>Categoria</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {{#reportedQuestionsData}}
            <tr>
                <td>{{ReportID}}</td>
                <td>{{QuestionText}}</td>
                <th>{{ReportReason}}</td>
                <td>{{CorrectAnswer}}</td>
                <td>{{Status}}</td>
                <td>{{StateName}}</td>
                <td>{{CategoryName}}</td>
                <td>
                    <a href="/question/edit?id={{QuestionID}}" class="btn btn-primary">edit</a>
                    <a href="/question/fix_reported?id={{ReportID}}" class="btn btn-primary">fixed</a>
                </td>
            </tr>
            {{/reportedQuestionsData}}
            </tbody>
        </table>
        
    </div>
    <!-- contenido -->
{{/isAdmin}}
{{> footer}}