{{#isLoggedIn}}
    {{> header_loged}}
    <p>sesión iniciada.</p>
{{/isLoggedIn}}
{{^isLoggedIn}}
    {{> header}}
    <p>Por favor, inicie sesión.</p>
{{/isLoggedIn}}
<!-- The Band Section -->
<p>lobby</p>
{{#falopa}}
<p>falopa</p>
{{/falopa}}

<!-- End Page Content -->
</div>
{{> footer}}