{{#isLoggedIn}}
    {{> header_loged}}
    
{{/isLoggedIn}}
{{^isLoggedIn}}
    {{> header}}
    <p>Por favor, inicie sesión.</p>
{{/isLoggedIn}}

{{#userData}}
    <!-- The User Section -->
    <div class="container">
        <h1>Detalles del usuario</h1>
        <ul class="list-group">
            <li class="list-group-item">Nombre completo: {{FullName}}</li>
            <li class="list-group-item">Año de nacimiento: {{BirthYear}}</li>
            <li class="list-group-item">Género: {{Gender}}</li>
            <li class="list-group-item">País: {{Country}}</li>
            <li class="list-group-item">Ciudad: {{City}}</li>
            <li class="list-group-item">Email: {{Email}}</li>
            <li class="list-group-item">Nombre de usuario: {{Username}}</li>
            <li class="list-group-item"><img src="data:image/jpeg;base64,{{ProfilePicture}}" alt="Imagen de perfil"></li>
            <li class="list-group-item">Estado de cuenta: {{AccountStatus}}</li>
            <li class="list-group-item"><img src="data:image/jpeg;base64,{{QrPicture}}" alt="Código QR"></li>
        </ul>
    </div>
    <!-- End User Section -->
{{/userData}}


<!-- End Page Content -->
</div>
{{> footer}}
