
{{> header_admin}}

    <div class="container">
        <h2 class="mb-4">Usuarios</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>Birth Year</th>
                    <th>Gender</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Profile Picture</th>
                    <th>Account Status</th>
                    <th>Rol</th>
                    <th>QR</th>
                </tr>
            </thead>
            <tbody>
                {{#users}}
                <tr>
                    <td>{{UserID}}</td>
                    <td>{{FullName}}</td>
                    <td>{{BirthYear}}</td>
                    <td>{{Gender}}</td>
                    <td>{{Country}}</td>
                    <td>{{City}}</td>
                    <td>{{Email}}</td>
                    <td>{{Username}}</td>
                    <td>{{AccountStatus}}</td>
                    <td>{{Rol}}</td>
                    <td><img src="data:image/jpeg;base64,{{ProfilePicture}}" alt="Imagen de perfil" class="img-thumbnail"></td>
                    <td><img src="data:image/jpeg;base64,{{QrPicture}}" alt="Código QR" class="img-thumbnail"></td>
                </tr>
                {{/users}}
            </tbody>
        </table>
    </div>

</div>
{{> footer}}